{% extends "index.html" %}

{% block content %}
<section class="wrapper style1">
    <div class="container">
        <div class="row">
            <section class="col-6 col-12-narrower col-12-mobilep">
                <h2>Welcome</h2>
                <div class='mdtext'>
                    {% for page in pages | selectattr('category', '==', 'home') %}
                        <article>
                            {{ page.content }}
                        </article>
                    {% endfor %}
                </div>
            </section>
            <section class="col-6 col-12-narrower col-12-mobilep">
                <div>
                    <h2><a href="{{ SITEURL }}/{{ all_news_link }}">
                        News
                        </a>
                    </h4>
                    {% for article in articles | selectattr('category', 'equalto', 'news') | batch(7) | first %}
                        <div class="box newslistnode">
                            <div class="leftpart">
                                <p class="newstext"><time datetime="{{ article.date.isoformat() }}">
                                    {{ article.date.strftime('%d.%m.%Y') }}
                                </time></p>
                            </div>
                            <div class="rightpart">
                                <p class="newstext"><a href="{{ SITEURL }}/{{ article.url }}">
                                    {{ article.title }}
                                </a></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</section>
{% endblock content %}
